@import "tailwindcss";

@theme static{
    --font-noto: "Noto Sans", sans-serif;

    /* Neutral  */
    --neutral-900: hsl(227, 75%, 14%); 
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    /* Red */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* border radiuses */
    --radius-50: 50px;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;

    /* Gradient */
    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

 .attribution {
     font-size: 11px;
     text-align: center;
 }

 .attribution a {
     color: hsl(228, 45%, 44%);
 }

 /* Toggle Switch Styles */
 .toggle-container {
     position: relative;
 }

 .toggle-checkbox {
     display: none;
 }

 .toggle-label {
     display: block;
     width: 40px;
     height: 24px;
     background-color: #d1d5db;
     /* neutral-300 equivalent */
     border-radius: 12px;
     position: relative;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 .toggle-slider {
     display: block;
     width: 20px;
     height: 20px;
     background-color: white;
     border-radius: 50%;
     position: absolute;
     top: 2px;
     left: 2px;
     transition: transform 0.3s ease;
 }

 .toggle-checkbox:checked+.toggle-label {
     background-color: #ef4444;
     /* red-500 or your preferred active color */
 }

 .toggle-checkbox:checked+.toggle-label .toggle-slider {
     transform: translateX(15px);
 }